<template>
    <div class="Login_wrap">
        <LoginForm />
    </div>
</template>

<script>
import LoginForm from '@/components/User/LoginForm.vue';
export default {
    name: 'LoginPage',
    components: { LoginForm },
};
</script>
